
.counter{
    width: 75%;
    margin:2rem auto;
    padding: 1rem;
    background-color: rgb(0, 255, 0);
    font-style: italic;
    border-radius: 1rem;
}
.counter *{
    margin-bottom: 1rem;
}
.headerText,.text{
    font-weight: bold;
    text-align: center;
  /* font-size: 20px; */
}

.userInput{
display: block;
width: 100%;
outline:none;
padding: 0px 0.5rem;
}
.userInput,.addItembtn,.clearItemsBtn,.deleteItem{
    border-radius: 0.7rem;
    border: none;
    font-style: italic;
    outline: 2px solid rgb(255, 196, 0);
    height: 30px;
    transition: all 0.1s;
}
.addItembtn,.clearItemsBtn{
    cursor: pointer;
    width: 80px;
    margin:0.5rem;
    margin-bottom: 1rem;
}
.addItembtn:hover,.clearItemsBtn:hover,.userInput:focus,.deleteItem:hover{
border: 3px solid rgb(255, 145, 0);
}
.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 1rem;
    border:3px solid rgb(6, 194, 22);
    border-radius: 1rem;
    padding:0.5rem;
}
.todoValue{
    font-weight: bold;
    font-size: 18px;
    width: 40%;
}
.btns,.true,.deleteItem,.todoValue{
    margin: 0px;
}
.true,.deleteItem{
    cursor: pointer;
    margin-left: 0.5rem;
    width: 80px;
    height: 30px;

}
.false,.true{
    border: none;
    margin: 0px;
    cursor: pointer;
    width: 80px;
    border-radius: 0.7rem;
    height: 30px;
    transition: all 0.1s;
}
.false{
    font-size: 15px;
    outline: 2px solid rgb(109, 72, 255);
}
.false:hover{
    border: 3px solid rgb(0, 13, 255);
}

.true{
    text-decoration: solid line-through rgb(255, 255, 255);
    font-style: italic;
    font-size: 11px;
    outline: rgb(0, 0, 148);
    background-color: rgb(145, 145, 145);
}
.true:hover{
 border: 3px solid rgb(13, 13, 136);
}

@media only screen and (max-width: 520px) {
.todoValue{
    width: 70%;
}
.items{
    flex-wrap: wrap;
}
.true,.deleteItem,.false{
    width: 80px;
    display: block;
    margin:0.5rem auto;
}
}

